.body{
    display: flex;
    flex: 1f;
    justify-content: center;
    align-items: center;
    background-color: #0b2528;
    height: 100vh;
}
.main-page {
    text-align: center;
}
h1 {
    color: #d87093;
}

